/* styles.css */
body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #a3d5ff);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    color: #0277bd;
}

section {
    padding: 40px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
}

footer {
    padding: 20px;
    font-size: 12px;
}